/* This file is not to be imported, merely to give in-editor previews of colors available*/
:root {
  --black: #111418;
  --dark-gray-1: #1C2127;
  --dark-gray-2: #252A31;
  --dark-gray-3: #2F343C;
  --dark-gray-4: #383E47;
  --dark-gray-5: #404854;
  --gray-1: #5F6B7C;
  --gray-2: #738091;
  --gray-3: #8F99A8;
  --gray-4: #ABB3BF;
  --gray-5: #C5CBD3;
  --light-gray-1: #D3D8DE;
  --light-gray-2: #DCE0E5;
  --light-gray-3: #E5E8EB;
  --light-gray-4: #EDEFF2;
  --light-gray-5: #F6F7F9;
  --white: #FFFFFF;
  --blue-1: #184A90;
  --blue-2: #215DB0;
  --blue-3: #2D72D2;
  --blue-4: #4C90F0;
  --blue-5: #8ABBFF;
  --green-1: #165A36;
  --green-2: #1C6E42;
  --green-3: #238551;
  --green-4: #32A467;
  --green-5: #72CA9B;
  --orange-1: #77450D;
  --orange-2: #935610;
  --orange-3: #C87619;
  --orange-4: #EC9A3C;
  --orange-5: #FBB360;
  --red-1: #8E292C;
  --red-2: #AC2F33;
  --red-3: #CD4246;
  --red-4: #E76A6E;
  --red-5: #FA999C;
  --cerulean-1: #0C5174;
  --cerulean-2: #0F6894;
  --cerulean-3: #147EB3;
  --cerulean-4: #3FA6DA;
  --cerulean-5: #68C1EE;
  --forest-1: #1D7324;
  --forest-2: #238C2C;
  --forest-3: #29A634;
  --forest-4: #43BF4D;
  --forest-5: #62D96B;
  --gold-1: #5C4405;
  --gold-2: #866103;
  --gold-3: #D1980B;
  --gold-4: #F0B726;
  --gold-5: #FBD065;
  --indigo-1: #5642A6;
  --indigo-2: #634DBF;
  --indigo-3: #7961DB;
  --indigo-4: #9881F3;
  --indigo-5: #BDADFF;
  --lime-1: #43501B;
  --lime-2: #5A701A;
  --lime-3: #8EB125;
  --lime-4: #B6D94C;
  --lime-5: #D4F17E;
  --rose-1: #A82255;
  --rose-2: #C22762;
  --rose-3: #DB2C6F;
  --rose-4: #F5498B;
  --rose-5: #FF66A1;
  --sepia-1: #5E4123;
  --sepia-2: #7A542E;
  --sepia-3: #946638;
  --sepia-4: #AF855A;
  --sepia-5: #D0B090;
  --turquoise-1: #004D46;
  --turquoise-2: #007067;
  --turquoise-3: #00A396;
  --turquoise-4: #13C9BA;
  --turquoise-5: #7AE1D8;
  --vermilion-1: #96290D;
  --vermilion-2: #B83211;
  --vermilion-3: #D33D17;
  --vermilion-4: #EB6847;
  --vermilion-5: #FF9980;
  --violet-1: #5C255C;
  --violet-2: #7C327C;
  --violet-3: #9D3F9D;
  --violet-4: #BD6BBD;
  --violet-5: #D69FD6;
  --cobalt-1: #0C5174;
  --cobalt-2: #0F6894;
  --cobalt-3: #147EB3;
  --cobalt-4: #3FA6DA;
  --cobalt-5: #68C1EE;
}