:root {
  background-color: var(--dark-gray-1);
}

.non-list {
  list-style: none;
}

.app__form {
  grid-template-columns: 1fr repeat(3, min-content) 1fr;
  display: grid;
  grid-gap: 32px;
  padding: 16px 0;
  height: 100vh;
  align-items: flex-start;
  overflow-y: hidden;
}
.app__form--with-replacements {
  grid-template-columns: 1fr repeat(4, min-content) 1fr;
}
@media only screen and (max-width: calc(400px * 3 + 32px * 4)) {
  .app__form {
    height: unset;
    grid-template-columns: unset;
    justify-items: center;
  }
}
.bp4-dark button.bp4-button.button--special {
  background-color: var(--indigo-2);
}

.bp4-dark button.bp4-button.button--special:hover {
  background-color: var(--indigo-1);
}
@keyframes illuminate {
  from {
    filter: drop-shadow(0 0 1rem #ffffff80)
  }
  to {
    filter: none;
  }
}
.illuminate {
  animation: illuminate .5s ease-in-out 1 forwards;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background: rgba(20,20,20,.6);
  border-radius: 10px;
}
::-webkit-scrollbar-corner {
  border-radius: 10px;
  background-color: rgba(20,20,20,.6);
}