:root {
  background-color: var(--dark-gray-2);
}

.non-list {
  list-style: none;
}
.app__form {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-gap: 32px;
  max-width: calc(400px * 3 + 32px * 2);
  padding: 16px;
  justify-items: center;
}
